		<div class="rightSide">
			<a href="https://www.facebook.com/zehlchen" target="_blank" rel="noopener" class="fa fa-facebook"></a><br/>
			<a href="https://www.instagram.com/zehlchen/" target="_blank" rel="noopener" class="fa fa-instagram"></a><br/>
			<a href="https://www.github.com/zehlchen" target="_blank" rel="noopener" class="fa fa-github"></a><br/>
			<a href="https://www.twitter.com/zehlchen" target="_blank" rel="noopener" class="fa fa-twitter"></a><br/>
		</div>
		<div class="footer">
			<a href="https://github.com/zehlchen/devzehl">Source</a>&nbsp;|&nbsp;Copyright &copy; 2024
			<a href="mailto:zehl@live.com">Chase Zehl O'Byrne</a>&nbsp;| 
      <a href="https://cash.app/$zehly" target="_blank" rel="noopener">Drug Money</a>
		</div>
	</section>
</html>
