/*
 * Raehi CSS
 */
@import url('https://use.typekit.net/zxp8irv.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
  --body-bg-color: #000;
  --body-color: #ddd;
  --blockquote-color: #999;
  --code-color: #ddd;
  --code-bg-color: #222;
  --heading-color: #ddd;
  --link-color: #999;
  --link-hover-color: #ddd;
  --post-list-border-color: #222;
}

img {
  height: auto;
  width: 256px;
  max-width: 50%;
}

img[src*='#left'] {
  float: left;
  padding: 1em;
  margin: auto
}

img[src*='#right'] {
  float: right;
  padding: 1em;
  margin: auto;
}

img[src*='#center'] {
  display: block;
  margin: auto;
  padding: 1em;
}

html {
  height: 100%;
  width: 100%;
}

blockquote {
  color: var(--blockquote-color);
  font-style: italic;
}

code,
pre {
  font-family: "adaptive-mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: var(--code-bg-color);
  border-radius: 0.2em;
  color: var(--code-color);
  /* font-size: 1rem; */
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-color);
  font-family: "aptly", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
}

body b {
  font-weight: 700;
}

/* Layout */

.layout {
  width: 100%;
  display: grid;
  grid:
    "header header header" auto "leftSide body rightSide" 1fr "footer footer footer" auto / auto 1fr auto;
  gap: 8px;
}

.header {
  font-family: "t26-carbon", monospace;
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
  grid-area: header;
}

.leftSide {
  grid-area: leftSide;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  text-align: right;
}

.body {
  margin-left: 1em;
  grid-area: body;
}

.rightSide {
  grid-area: rightSide;
  line-height: 1.5;
  font-weight: 700;
  font-style: normal;
  text-align: right;
}

.footer {
  grid-area: footer;
  text-align: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: "aptly", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  .layout {
    grid-template-areas:
      "header"
      "leftSide"
      "body"
      "rightSide"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .header,
  .leftSide,
  .body,
  .rightSide,
  .footer {
    grid-column: 1 / -1;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.5em;
  }

  .leftSide,
  .rightSide {
    text-align: left;
  }

  body {
    font-size: 1rem;
    padding: 5px;
  }

  .fa {
    /* Adjust the size of font-awesome icons if needed */
    font-size: 24px;
    width: 40px;
    padding: 10px;
  }
}

/* Links */

a {
  color: var(--link-color);
  text-decoration-color: rgba(255, 255, 255, 0);
  text-decoration-line: underline;
  text-underline-offset: 0.2em;
  transition: color 300ms, text-decoration-color 300ms, text-underline-offset 300ms;
}

a:focus,
a:hover {
  color: var(--link-hover-color);
  text-decoration-color: rgba(255, 255, 255, 1);
  text-underline-offset: 0.2em;
}

/* Font Awesome */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  display: none;
}