/*
 * Raehi CSS
 */
@import url('https://use.typekit.net/zxp8irv.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
  --body-bg-color: #000;
  --body-color: #ddd;
  --blockquote-color: #999;
  --code-color: #ddd;
  --code-bg-color: #222;
  --heading-color: #ddd;
  --link-color: #999;
  --link-hover-color: #ddd;
  --post-list-border-color: #222;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-color);
  font-family: "aptly", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
}

body b {
  font-weight: 700;
}

/* Layout */

.layout {
  width: 100%;
  display: grid;
  grid:
    "header header header" auto "leftSide body rightSide" 1fr "footer footer footer" auto / auto 1fr auto;
  gap: 8px;
}

.header {
  grid-area: header;
}

.leftSide {
  grid-area: leftSide;
}

.body {
  grid-area: body;
}

.rightSide {
  grid-area: rightSide;
}

.footer {
  grid-area: footer;
}

/* Links */

a {
  color: var(--link-color);
  text-decoration-color: rgba(255, 255, 255, 0);
  text-decoration-line: underline;
  text-underline-offset: 0.2em;
  transition: color 300ms, text-decoration-color 300ms, text-underline-offset 300ms;
}

a:focus,
a:hover {
  color: var(--link-hover-color);
  text-decoration-color: rgba(255, 255, 255, 1);
  text-underline-offset: 0.4em;
}